* {
    box-sizing: border-box !important;
}

.wrapper {
    width: 1000px;
    margin: 20px auto;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 50px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #383838;
    color: #383838;
    margin: 20px auto;

    &:hover {
        color: #FFF;
        background: #383838;
    }

}



input[type="file"] {
    opacity: 0;
    position: relative;
    width: 1px;
    height: 1px;
}

.img_inp_btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #383838;
    color: #383838;


    &:hover {
        color: #FFF;
        background: #383838;
    }
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    h3 {
        width: 100%;
    }

    p {
        text-align: left;
    }

    .img {
        position: relative;

        .filter_preview {
            position: absolute;
            width: 600px;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 100;
            pointer-events: none;

            img {
                width: 100%;
            }
        }

        .cropme-slider {
            margin-top: -16px !important;
        }

    }

    #final_img {
        width: 600px;
        max-width: 600px;
    }
}

.filter_select {
    display: flex;
    justify-content: center;

    .item {
        width: 100px;
        margin: 0 10px;

        .sample {
            width: 100%;
            opacity: 0.5;
        }

        input {
            opacity: 0;
        }

        input[type="radio"]:checked~label {
            .sample {
                opacity: 1;
            }

        }
    }
}

.btn_area {
    margin: 20px 0;
    display: flex;
    justify-content: center;

    a {
        margin: 0 5px;
    }
}

@media screen and (max-width: 768px) {}